USE [master]
GO
/****** Object:  Database [ProjectGT]    Script Date: 2020-09-13 2:50:38 PM ******/
CREATE DATABASE [ProjectGT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectGT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProjectGT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectGT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProjectGT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectGT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectGT]
GO
/****** Object:  User [dev0]    Script Date: 2020-09-13 2:50:38 PM ******/
CREATE USER [dev0] FOR LOGIN [dev0] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 2020-09-13 2:50:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [bigint] NOT NULL,
	[AccountType] [int] NOT NULL,
	[AccountName] [ntext] NULL,
	[Coins] [int] NOT NULL,
	[NumRaces] [int] NOT NULL,
	[NumWins] [int] NOT NULL,
	[SelectedCarID] [int] NOT NULL,
	[LastLogin] [datetime] NULL,
	[Score] [int] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_Coins]  DEFAULT ((0)) FOR [Coins]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_NumRaces]  DEFAULT ((0)) FOR [NumRaces]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_NumWins]  DEFAULT ((0)) FOR [NumWins]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_SelectedCarID]  DEFAULT ((0)) FOR [SelectedCarID]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_Score]  DEFAULT ((0)) FOR [Score]
GO
USE [master]
GO
